@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1020 Dennison Avenue<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

