@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" body style="background-color: rebeccapurple">
    <h1 style="color:gold;">Centric Consulting</h1>
    <p class="lead" style="color:gold;">Digital, Business, and Technology Consulting to Transform Your Business.</p>
    <p><a href="https://centricconsulting.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" style="border: 2px solid Yellow;">
        <h2> Stewardship</h2>
        <p>
            Practice responsible stewardship.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4" style="border: 2px solid Gold;">
        <h2>Culture</h2>
        <p>Invest in an exceptional culture.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4" style="border: 2px solid Gold;">
        <h2>Delivery Excellence</h2>
        <p>Commit to delivery excellence.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="border: 2px solid Gold;">
        <h2>Innovation</h2>
        <p>Strive to innovate.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4" style="border: 2px solid Gold;">
        <h2>Greater Good</h2>
        <p>Ignite passion for the greater good.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4" style="border: 2px solid Gold;">
        <h2>Integirty and Openness</h2>
        <p>Embrace integrity and openness.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="border: 2px solid Gold;">
        <h2>Balance</h2>
        <p>Live a balanced life.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>